# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
.pnpm-store

# Production build outputs
dist/
dist-ssr/
build/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.ds_store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Scratch
tmp/
.temp/
